.App {
  background-color: white;
}

#clear {
  margin-left: 32px;
  margin-top: 2rem;
  background: #01609a;
  box-shadow: -5px -5px 10px 0 #f3f3f3, 5px 5px 10px 0 #c9ccd7;
  border-radius: 28px;
  border-style: none;
  color: white;
  font-family: "Lato";
  width: 180px;
  height: 3rem;
  cursor: pointer;
}

#toggle {
  margin-left: 32px;
  margin-bottom: 1rem;
  background: #01609a;
  box-shadow: -5px -5px 10px 0 #f3f3f3, 5px 5px 10px 0 #c9ccd7;
  border-radius: 28px;
  border-style: none;
  color: white;
  font-family: "Lato";
  width: 180px;
  height: 3rem;
  cursor: pointer;
}

@media only screen and (min-width: 480px) {
  .App-header {
    font-family: "Lato";
    margin-top: 5rem;
  }

  .App-header h1 {
    font-size: 4.8rem;
    font-weight: 900;
    color: #000000;
    letter-spacing: -1.16px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .App-header h2 {
    font-size: 3.6rem;
    font-weight: 900;
    color: #01609a;
    letter-spacing: -0.87px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .App-header p {
    font-size: 2.1rem;
    font-weight: 700;
    color: #000000;
    letter-spacing: -0.51px;
    margin-left: 32px;
    margin-right: 32px;
  }

  #steps {
    font-size: 2.4rem;
    color: #1d1d1b;
    letter-spacing: -0.58px;
    font-weight: 900;
    margin-left: 32px;
  }

  #step {
    color: #ed715d;
  }

  #clickTopic {
    font-weight: 700;
    font-style: italic;
  }
}

@media only screen and (max-width: 480px) {
  .App-header {
    font-family: "Lato";
    margin-top: 5rem;
  }

  .App-header h1 {
    font-size: 3.6rem;
    font-weight: 900;
    color: #000000;
    letter-spacing: -1.16px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .App-header h2 {
    font-size: 2.4rem;
    font-weight: 900;
    color: #01609a;
    letter-spacing: -0.87px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .App-header p {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
    letter-spacing: -0.51px;
    margin-left: 32px;
    margin-right: 32px;
  }

  #steps {
    font-size: 2.1rem;
    color: #1d1d1b;
    letter-spacing: -0.58px;
    font-weight: 900;
    margin-left: 32px;
  }

  #step {
    color: #ed715d;
  }

  #clickTopic {
    font-weight: 700;
    font-style: italic;
  }
}
